* {
  /* removing default css properties*/
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
  font: inherit;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 0px solid black;
  box-shadow: 0px 0px 5px grey;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
}
#logo {
  width: 150px;
  height: 50px;
  background-image: url("./_1511452487_364_Airbnb-mobile.jpg");
  background-size: cover;
  margin-left: 100px;
}
#logo:hover {
  cursor: pointer;
}
#search {
  width: 350px;
  height: 50px;
  padding: 7px;
  border: 2px solid grey;
  border-radius: 25px;
  margin-left: 300px;
  box-shadow: 2px 2px 2px gray;
  display: flex;
  gap: 10px;
  align-items: center;
}
#a1 {
  width: 100px;
  height: 35px;
  text-align: center;
  font-weight: bolder;
  margin-right: 2px;
  padding-top: 8px;
  border-right: 2px solid grey;
}
#a2 {
  width: 85px;
  height: 35px;
  margin-right: 2px;
  border-right: 2px solid grey;
  font-weight: bolder;
  padding-top: 8px;
}
#a3 {
  width: 90px;
  height: 35px;
  margin-right: 5px;
  font-weight: 300;
  padding-top: 8px;
  border-right: 2px solid grey;
}
#s1 {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border-radius: 100%;
  background-color: cadetblue;
  background-image: url("https://cdn3.iconfinder.com/data/icons/social-messaging-ui-color-line/245532/58-512.png");
  background-size: cover;
}
#airhome {
  width: 160px;
  height: 50px;
  font-weight: bolder;
  padding: 15px 5px 2px 10px;
  margin-left: 170px;
  border-radius: 20px;
}
#airhome:hover {
  background-color: lightgrey;
  cursor: pointer;
}
#globe {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: 5px;
  margin-right: 15px;
  background-image: url("https://cdn.imgbin.com/2/4/17/imgbin-globe-world-computer-icons-internet-globe-qg1ejxAgUWzkxPw1eHkb1H2Fz.jpg");
  background-size: cover;
}
#globe:hover {
  box-shadow: 2px 2px 1px grey;
  cursor: pointer;
}
#signup {
  width: 80px;
  height: 40px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 25px;
  display: flex;
  align-items: center;
}
#lbtn {
  width: 25px;
  height: 25px;
  background-image: url("https://t4.ftcdn.net/jpg/01/09/84/11/360_F_109841191_B1qcKCxRwwt4DWIBpXD7bc4IPcozRBzT.jpg");
  background-size: cover;
  border-radius: 5px;
  margin-right: 5px;
}
#lbtn:hover {
  cursor: pointer;
}
#acc {
  width: 35px;
  height: 35px;
  background-image: url("https://t3.ftcdn.net/jpg/03/46/83/96/240_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg");
  background-size: cover;
  border-radius: 100%;
}
#acc:hover {
  cursor: pointer;
}
#sc-1 {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  gap: 30px;
  padding: 10px;
  position: fixed;
  top: 80px;
}
#ap {
  margin-left: 100px;
  width: 75px;
  height: 75px;
  border-bottom: 2px solid black;
  background-image: url("rooms.jpg");
  background-size: cover;
}
#rooms {
  width: 90px;
  height: 75px;
  background-image: url("amazing\ views.jpg");
  background-size: cover;
}
#av {
  width: 75px;
  height: 75px;
  background-image: url("./lakefront.jpg");
  background-size: cover;
}
#omg {
  width: 75px;
  height: 57px;
  margin-top: 7px;
  background-image: url("./omg.jpg");
  background-size: cover;
}
#eh {
  width: 85px;
  height: 75px;
  background-image: url("./tinyhomes.jpg");
  background-size: cover;
}
#mans {
  width: 88px;
  height: 75px;
  background-image: url("./beachfront.jpg");
  background-size: cover;
}
#np {
  width: 90px;
  height: 75px;
  background-image: url("./national\ parks.jpg");
  background-size: cover;
}
#countryside {
  width: 85px;
  height: 75px;
  background-image: url("./countryside.jpg");
  background-size: cover;
}
#beachf {
  width: 75px;
  height: 75px;
  background-image: url("./farms.jpg");
  background-size: cover;
}
#cabins {
  width: 75px;
  height: 75px;
  margin-top: 3px;
  background-image: url("./cab.jpg");
  background-size: cover;
}
#arbtn {
  width: 40px;
  height: 40px;
  border: 3px solid grey;
  border-radius: 60%;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  font-size: 33px;
}
/*main*/
main {
  width: 1275px;
  height: 1000px;
  margin: 200px 100px 55px 100px;
  padding: 15px;
  top: 200px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 300px 150px 300px 150px;
  grid-gap: 20px;
}
#p-1 {
  background-image: url("https://a0.muscache.com/im/pictures/b7c9264d-73c9-45c3-882e-6e9577d63d68.jpg?im_w=720");
  background-size: cover;
  border-radius: 20px;
}
#p-2 {
  background-image: url("https://a0.muscache.com/im/pictures/miso/Hosting-5264493/original/10d2c21f-84c2-46c5-b20b-b51d1c2c971a.jpeg?im_w=720");
  background-size: cover;
  border-radius: 20px;
}
#p-3 {
  background-image: url("https://a0.muscache.com/im/pictures/miso/Hosting-20605023/original/0be3f493-fd2d-434e-b557-ad2c189b1543.jpeg?im_w=720");
  background-size: cover;
  border-radius: 20px;
}
#p-4 {
  background-size: cover;
  background-image: url("https://a0.muscache.com/im/pictures/miso/Hosting-52068342/original/a02a7d4d-a1bc-418f-a6de-970d41beade0.jpeg?im_w=720");
  border-radius: 20px;
}
#p-5 {
  background-size: cover;
  background-image: url("https://a0.muscache.com/im/pictures/448bee34-7416-4262-a02f-b39e29d7ce4f.jpg?im_w=720");
  border-radius: 20px;
}
#p-6 {
  background-size: cover;
  background-image: url("https://a0.muscache.com/im/pictures/miso/Hosting-24043648/original/c5282c79-8d6c-48f9-8d2c-68e80234e12b.jpeg?im_w=720");
  border-radius: 20px;
}
#c-1 {
  padding: 10px;
}
#c-2 {
  padding: 10px;
}
#c-3 {
  padding: 10px;
}
#c-4 {
  padding: 10px;
}
#c-5 {
  padding: 10px;
}
#c-6 {
  padding: 10px;
}
/*footer*/
footer {
  width: 100%;
  height: 60px;
  padding: 10px;
  padding-left: 100px;
  border-top: 2px solid grey;
  box-shadow: 1px 1px 1px black;
  background-color: white;
  position: relative;
  position: fixed;
  top: 703px;
  display: flex;
}
#f1 {
  width: 600px;
  height: 30px;
  color: grey;
  padding-top: 5px;
}
#f2 {
  width: 400px;
  height: 30px;
  position: absolute;
  right: 50px;
  padding-top: 5px;
}
#g {
  width: 15px;
  height: 15px;
  margin-top: 8px;
  background-image: url("https://cdn.imgbin.com/2/4/17/imgbin-globe-world-computer-icons-internet-globe-qg1ejxAgUWzkxPw1eHkb1H2Fz.jpg");
  background-size: cover;
  border-radius: 100%;
  position: absolute;
  right: 460px;
}
.fir-li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-transform: capitalize;
  font-size: 25px;
}
.sec-li,
.thi-li,
.four-li {
  color: grey;
  font-size: 20px;
}
