<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>confirmed</title>
    <link rel="stylesheet" href="/register.css" />
  </head>
  <body>
    <header>
      <div id="logo"></div>
    </header>
    <div id="confirmed"></div>
    <div id="thankyou"></div>
    <footer>
      <div id="f1">
        @ 2023 Airbnb,inc. | Privacy | Terms | Sitemap | Company details |
        Destinations
      </div>
      <div id="g"></div>
      <div id="f2">English(IN) $ DOLLAR Support & Resources</div>
    </footer>
  </body>
  <script>
    alert("!!!!!YOUR BOOKING HAS CONFIRMED ✅ HAVE A GREAT DAY!!!!😊");
  </script>
</html>
