<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb_clone</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div id="logo"></div>
      <div id="search">
        <div id="a1"><b>Anywhere</b></div>
        <div id="a2"><b>Anyweek</b></div>
        <div id="a3">Add guests</div>
        <div id="s1"></div>
      </div>
      <div id="airhome">Airbnb your home</div>
      <div id="globe"></div>
      <div id="signup">
        <div id="lbtn"></div>
        <div id="acc"></div>
      </div>
    </header>
    <section id="sc-1">
      <div id="rooms" onclick="roomsopen()"></div>
      <div id="av" onclick="avopen()"></div>
      <div id="lf3" onclick="lfopen()"></div>
      <div id="omg" onclick="omgopen()"></div>
      <div id="th" onclick="thopen()"></div>
      <div id="beachf" onclick="beachfopen()"></div>
      <div id="np" onclick="npopen()"></div>
      <div id="cabins" onclick="cabinsopen()"></div>
      <div id="countryside" onclick="countrysideopen()"></div>
      <div id="farms" onclick="farmsopen()"></div>
      <div id="arbtn">></div>
    </section>
    <main id="main">
      <img src="https://a0.muscache.com/im/pictures/27013fec-93f9-4250-b9b6-0004a3f6aefb.jpg?im_w=720"  id="img1" onclick="fetchData1()"></img>
      <img  src="https://a0.muscache.com/im/pictures/miso/Hosting-1028890791821666023/original/4448b868-de80-4549-b00b-554ef8868583.jpeg?im_w=720" id="img2" onclick="fetchData2()"></img>
      <img src="https://a0.muscache.com/im/pictures/a569ec98-7a60-4448-9489-a5dd8b500b3b.jpg?im_w=720" id="img3" onclick="fetchData3()"></img>
      <div src="" id="c-1">
        <div class="fir-li">Kainakary South, India</div>
        <div class="sec-li"> Vattakkaayal</div>
        <div class="thi-li">9–14 Dec</div>
        <div class="four-li"><b>₹5,000</b>night</div>
      </div>
      <div id="c-2">
        <div class="fir-li">Mulshi, India</div>
        <div class="sec-li">Mulshi Lake</div>
        <div class="thi-li">15–20 Dec</div>
        <div class="four-li"><b> ₹15,751</b>night</div>
      </div>
      <div id="c-3">
        <div class="fir-li">Alappuzha, India</div>
        <div class="sec-li"> Vembanad Lake</div>
        <div class="thi-li">8–13 Dec</div>
        <div class="four-li"><b>₹17,118</b>night</div>
      </div>
      <img src="https://a0.muscache.com/im/pictures/miso/Hosting-842520026902033604/original/269bfb27-5de1-4463-be16-ab74241eeb42.jpeg?im_w=720" alt="" onclick="fetchData4()">
      <img src="https://a0.muscache.com/im/pictures/prohost-api/Hosting-999317223333962921/original/30ced698-540a-45dc-b0ec-0e7f64c70261.jpeg?im_w=720" alt="" onclick="fetchData5()">
      <img src="https://a0.muscache.com/im/pictures/miso/Hosting-903413603120459598/original/4752d680-3a4d-4898-b15a-e57fa48c1d98.jpeg?im_w=720" alt="" onclick="fetchData6()">
      <div id="c-4">
        <div class="fir-li">Alappuzha, India</div>
        <div class="sec-li"> Vembanad Lake</div>
        <div class="thi-li">2–7 Jan</div>
        <div class="four-li"><b>₹52,296 </b>night</div>
      </div>
      <div id="c-5">
        <div class="fir-li">Lonavala, India</div>
        <div class="sec-li">Pavana Lake</div>
        <div class="thi-li">10–15 Dec</div>
        <div class="four-li"><b>₹23,100</b>night</div>
      </div>
      <div id="c-6">
        <div class="fir-li">Kunnathidavaka, India</div>
        <div class="sec-li">Pookode Lake</div>
        <div class="thi-li">8–13 Dec</div>
        <div class="four-li"><b> ₹15,976</b>night</div>
      </div>
    </main>
    <footer>
      <div id="f1">
        @ 2023 Airbnb,inc. | Privacy | Terms | Sitemap | Company details |
        Destinations
      </div>
      <div id="g"></div>
      <div id="f2">English(IN) $ DOLLAR Support & Resources</div>
    </footer>
    <script>
      let rooms=document.getElementById("rooms");
      let av=document.getElementById("av");
      let lf =document.getElementById("lf3");
      let omg=document.getElementById("omg");
      let th=document.getElementById("th");
      let beachf=document.getElementById("beachf");
      let np=document.getElementById("np");
      let cabins=document.getElementById("cabins");
      let countryside=document.getElementById("countryside");
      let farms=document.getElementById("farms");
      
function roomsopen(){
  window.location.href="/"
}
function avopen(){
  window.location.href="/amazingviews"
}
function lfopen(){
  window.location.href="/lakefront"
}
function omgopen(){
  window.location.href="/omg"
}
function thopen(){
  window.location.href="/tinyhomes"
}
function beachfopen(){
  window.location.href="/beachfronts"
}
function npopen(){
  window.location.href="/nationalparks"
}
function cabinsopen(){
  window.location.href="/cabins"
}
function countrysideopen(){
  window.location.href="/countryside"
}
function farmsopen(){
  window.location.href="/farms"
}
function fetchData1() {
      const id="1"
      fetch(`/lakefront/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
           window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("lakefront");

          
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

      }
      function fetchData2() {
      const id="2"
      fetch(`/lakefront/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
            window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("lakefront");
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    }
    function fetchData3() {
      const id="3"
      fetch(`/lakefront/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
            window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("lakefront");
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    }
    function fetchData4() {
      const id="4"
      fetch(`/lakefront/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
            window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("lakefront");
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    }
    function fetchData5() {
      const id="5"
      fetch(`/lakefront/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
            window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("lakefront");
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    }
    function fetchData6() {
      const id="6"
      fetch(`/lakefront/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
            window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("lakefront");
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    }
    
    </script>
  </body>
</html>
