<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb_clone</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div id="logo"></div>
      <div id="search">
        <div id="a1"><b>Anywhere</b></div>
        <div id="a2"><b>Anyweek</b></div>
        <div id="a3">Add guests</div>
        <div id="s1"></div>
      </div>
      <div id="airhome">Airbnb your home</div>
      <div id="globe"></div>
      <div id="signup">
        <div id="lbtn"></div>
        <div id="acc"></div>
      </div>
    </header>
    <section id="sc-1">
      <div id="rooms" onclick="roomsopen()"></div>
      <div id="av" onclick="avopen()"></div>
      <div id="lf" onclick="lfopen()"></div>
      <div id="omg" onclick="omgopen()"></div>
      <div id="th" onclick="thopen()"></div>
      <div id="beachf" onclick="beachfopen()"></div>
      <div id="np7" onclick="npopen()"></div>
      <div id="cabins" onclick="cabinsopen()"></div>
      <div id="countryside" onclick="countrysideopen()"></div>
      <div id="farms" onclick="farmsopen()"></div>
      <div id="arbtn">></div>
    </section>
    <main>
    <img src="https://a0.muscache.com/im/pictures/miso/Hosting-741726654862114190/original/8bfadc5b-2666-4af6-be1c-a339cc6a34f3.jpeg?im_w=720"  id="img1" onclick="fetchData1()"></img>
    <img  src="https://a0.muscache.com/im/pictures/miso/Hosting-6517427/original/16f09edf-8eaa-47f7-97f1-2beb65e5b192.jpeg?im_w=720" id="img2" onclick="fetchData2()"></img>
    <img src="https://a0.muscache.com/im/pictures/miso/Hosting-18238421/original/f4d32a29-81eb-4ea6-8c89-954cf1d76fef.jpeg?im_w=720" id="img3" onclick="fetchData3()"></img>
      <div src="" id="c-1">
        <div class="fir-li">Marna, India</div>
        <div class="sec-li">73 km to  Mollem National Park</div>
        <div class="thi-li">13–18 Dec</div>
        <div class="four-li"><b> ₹25,106 </b>night</div>
      </div>
      <div id="c-2">
        <div class="fir-li">Assagao, India</div>
        <div class="sec-li">74 km to Bhagwan Mahaveer Sanctuary </div>
        <div class="thi-li">18–23 Dec</div>
        <div class="four-li"><b>₹22,139</b>night</div>
      </div>
      <div id="c-3">
        <div class="fir-li">Saligao, India</div>
        <div class="sec-li">71 km to Bhagwan Mahaveer Sanctuary</div>
        <div class="thi-li"> 11–16 Dec</div>
        <div class="four-li"><b>₹3,683</b>night</div>
      </div>
      <img src="https://a0.muscache.com/im/pictures/miso/Hosting-53527582/original/60c48fe7-7118-427f-9a83-35e74f6853fc.jpeg?im_w=720" alt="" onclick="fetchData4()">
      <img src="https://a0.muscache.com/im/pictures/miso/Hosting-782936759629488143/original/c526dd4c-a266-41cb-b678-6eb929a90d40.jpeg?im_w=720" alt="" onclick="fetchData5()">
      <img src="https://a0.muscache.com/im/pictures/miso/Hosting-749155380306201629/original/a2f362ad-1d7e-4e33-ab6a-06d37990da6a.jpeg?im_w=720" alt="" onclick="fetchData6()">
      <div id="c-4">
        <div class="fir-li"> Calangute, India</div>
        <div class="sec-li">71 km to Bhagwan Mahaveer Sanctuary</div>
        <div class="thi-li">18–23 Jan</div>
        <div class="four-li"><b>₹13,799</b>night</div>
      </div>
      <div id="c-5">
        <div class="fir-li">Siolim, India</div>
        <div class="sec-li">75 km to Bhagwan Mahaveer Sanctuary </div>
        <div class="thi-li">1–6 Jan</div>
        <div class="four-li"><b>₹8,000</b>night</div>
      </div>
      <div id="c-6">
        <div class="fir-li">Calangute, India</div>
        <div class="sec-li"> 72 km to Bhagwan Mahaveer Sanctuary</div>
        <div class="thi-li">12–17 Dec</div>
        <div class="four-li"><b>₹4,565</b>night</div>
      </div>
    </main>
    <footer>
      <div id="f1">
        @ 2023 Airbnb,inc. | Privacy | Terms | Sitemap | Company details |
        Destinations
      </div>
      <div id="g"></div>
      <div id="f2">English(IN) $ DOLLAR Support & Resources</div>
    </footer>
    <script>
      let rooms=document.getElementById("rooms");
      let av=document.getElementById("av");
      let lf =document.getElementById("lf");
      let omg=document.getElementById("omg");
      let th=document.getElementById("th");
      let beachf=document.getElementById("beachf");
      let np=document.getElementById("np7");
      let cabins=document.getElementById("cabins");
      let countryside=document.getElementById("countryside");
      let farms=document.getElementById("farms");
      
function roomsopen(){
  window.location.href="/"
}
function avopen(){
  window.location.href="/amazingviews"
}
function lfopen(){
  window.location.href="/lakefront"
}
function omgopen(){
  window.location.href="/omg"
}
function thopen(){
  window.location.href="/tinyhomes"
}
function beachfopen(){
  window.location.href="/beachfronts"
}
function npopen(){
  window.location.href="/nationalparks"
}
function cabinsopen(){
  window.location.href="/cabins"
}
function countrysideopen(){
  window.location.href="/countryside"
}
function farmsopen(){
  window.location.href="/farms"
}
function fetchData1() {
      const id="1"
      fetch(`/nationalparks/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
           window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("nationalparks");

          
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

      }
      function fetchData2() {
      const id="2"
      fetch(`/nationalparks/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
            window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("nationalparks");
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    }
    function fetchData3() {
      const id="3"
      fetch(`/nationalparks/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
            window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("nationalparks");
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    }
    function fetchData4() {
      const id="4"
      fetch(`/nationalparks/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
            window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("nationalparks");
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    }
    function fetchData5() {
      const id="5"
      fetch(`/nationalparks/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
            window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("nationalparks");
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    }
    function fetchData6() {
      const id="6"
      fetch(`/nationalparks/${id}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            // console.log('Data received from backend:', data);
            window.location.href="/bookingpage?id=" +encodeURIComponent(id)+"&var="+encodeURIComponent("nationalparks");
        }) 
        .catch(error => {
            console.error('Error fetching data:', error);
        });

    }
    
    </script>
  </body>
</html>
